<!-- 引入第三方JavaScript库和自定义JavaScript文件 -->
<!-- 下面的注释将对每个脚本文件进行简要说明 -->

<!-- ECharts图表库 -->
<script src="../../static/lib/admin-assets/js/echarts.min.js"></script>
<!-- jQuery核心库 -->
<script src="../../static/lib/admin-assets/js/jquery.min.js"></script>
<!-- 主题设置脚本 -->
<script src="../../static/lib/admin-assets/js/theme.js"></script>

<!-- 新引入的JavaScript库 -->
<!-- jQuery 3.6.0 -->
<script src="../../static/lib/JQuery3.6.0/jquery-3.6.0.min.js"></script>
<!-- layui前端框架 -->
<script src="../../static/lib/layui-v2.6.8/layui.js"></script>
