<!--模板css文件-->
<link rel="apple-touch-icon-precomposed" href="../../static/lib/admin-assets/i/app-icon72x72@2x.png">
<link rel="icon" type="image/png" href="../../static/lib/admin-assets/i/favicon.png">
<link rel="stylesheet" href="../../static/lib/admin-assets/css/amazeui.min.css" />
<link rel="stylesheet" href="../../static/lib/admin-assets/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="../../static/lib/admin-assets/css/app.css">
<!--新的css文件-->
<link rel="stylesheet" href="../../static/lib/layui-v2.6.8/css/layui.css">
<link rel="stylesheet" href="../../static/css/comm.css">
